.wy-table-responsive table td {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

.wy-breadcrumbs-aside .icon.icon-github {
    display: none;
}

.wy-nav-content {
    max-width: 925px;
}

.code-anchor, .code-anchor:visited {
    text-decoration: underline;
    color: inherit;
}
a.code-anchor:hover {
    color:#3091d1;
}
